

<div class="card mb-4">
  <div class="card-header">
    Lavado exterior <span class="badge bg-info ">$ 7000 </span>

  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">Servicio dedicado a un profundo lavado del chasis del vehiculo</p>
    <a href="#" class="btn btn-primary">Ver Mas</a>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Lavado de motor <span class="badge bg-info">$ 5000 </span>
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">Servicio dedicado al lavado de motor  vehiculo</p>
    <a href="#" class="btn btn-primary">Ver Mas</a>
  </div>
</div>